.header-logo-invertocat {
    float: left;
    margin-right: 10px;
    margin-left: -2px;
    color: #333;
    white-space: nowrap;
}

.header-logo-invertocat .octicon-mark-github {
    float: left;
    width: 48px;
    height: 48px;
    font-size: 48px;
}

.mega-octicon {
    font: normal normal 32px octicons;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@font-face {
    font-family: 'octicons';
    src: url("../assets/octicons-aa3e76d4bd78bd88f50451cc1d06add7594f1140.eot?#iefix") format("embedded-opentype"),url("../assets/octicons-ce46734749db8f56454d0621e190edae7aa2d2b8.woff") format("woff"),url("../assets/octicons-472841950268203e904aaed6dbba5ced78c4b109.ttf") format("truetype"),url("../assets/octicons-ed6b6522c9a7f0744cb4aa074cc3c3a1b463ce16.svg#octicons") format("svg");
    font-weight: normal;
    font-style: normal
}

.octicon-mark-github:before {
    content: '\f00a';
}

.header {
    margin-bottom: 20px;
    padding-top: 10px;
}

.header .header-left a {
    text-decoration: none;
}

.header .header-left a .title {
    font-size: 32px;
    line-height: 48px;
    margin-left:10px;
}

.header .header-right {
    text-align: right;
    line-height: 48px;
}

ul.repos {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h3 {
    margin-top: 0;
}

svg.repos {
    width: 400px;
    height: 400px;
}
